<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]
    SetEnv JWT_SECRET 3kUrgN8LajFI3rHo2HoZXjMeEs5nBMad7ZBAo0n0FByRuuKBMgH0QdqWo5FPsmvF
    SetEnv DB_CONNECTION=mysql
    SetEnv DB_HOST=52.0.199.187
    SetEnv DB_PORT=3306
    SetEnv DB_DATABASE=lifeplants_db
    SetEnv DB_USERNAME=arturo
    SetEnv DB_PASSWORD=123




    SetEnv MAIL_MAILER smtp
    SetEnv MAIL_HOST smtp.gmail.com
    SetEnv MAIL_PORT 587
    SetEnv MAIL_USERNAME vafjcompany@gmail.com
    SetEnv MAIL_PASSWORD crranbubiwvjjfpb
    SetEnv MAIL_ENCRYPTION tls
    SetEnv MAIL_FROM_ADDRESS vafjcompany@gmail.com
    SetEnv MAIL_FROM_NAME "Vafjcompany"
    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
